<!-- Ending screen -->
<div class="modal" id="ending-screen" tabindex="-1" role="dialog" aria-labelledby="endingScreen" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark  text-light text-center">
      <div class="modal-body">
				<div class="container h-100">
					<div class="row align-items-bottom h-100">
						<div class="col-md-7 offset-md-1 mx-auto">
							<img src="limulus-white-animated.svg"  id="animated-limulus" alt="Play Limulus">
							<h1 id="ending-title"></h1>
							<p class="m-3 pt-3 lead">A blue blood living fossil helping to cure people around the world since 1986. Click <%= link_to 'here', "https://www.theatlantic.com/technology/archive/2014/02/the-blood-harvest/284078/", target: :_blank, class: 'text-warning' %>
 to learn more.</p>
							<button type="button" id="game-restart" class="btn btn-light btn-lg mb-3" data-dismiss="modal">Play again</button>
						</div>
						<div class="col-md-8 mx-auto">
						<%= render 'scores/table' %>
						<%= render 'visitors/form', score: @score %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Titles screen -->
