<!-- Ending screen -->
<div class="modal" id="ending-screen" tabindex="-1" role="dialog" aria-labelledby="endingScreen" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark  text-light text-center">
      <div class="modal-body">
				<div class="container h-100">
					<div class="row align-items-bottom h-100">
						<div class="col-md-8 offset-md-1 mx-auto">
							<img src="limulus-white.svg"  id="animated-limulus" alt="Play Limulus">
							<h1 id="ending-title">Limulus is gone..(todo dynamic)</h1>
							<p class="m-3 pt-3 lead">Tellus sit amet dui rutrum bibendum. Integer congue libero vel pharetra tincidunt. Ut id sem nec elit scelerisque pharetra. Nulla dapibus venenatis lorem a mattis. Fusce suscipit commodo ligula, quis cursus eros egestas a. Nulla venenatis quam at urna pellentesque aliquet.</p>
							<button type="button" id="game-start" class="btn btn-light btn-lg" data-dismiss="modal">Play again</button>
						</div>
						<div class="col-md-3 mx-auto">
						<%= render 'scores/table' %>
						(ask via gon if player reached top score, fill hidden field token if true)
						<%= render 'visitors/form', score: @score %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Titles screen -->
