	<div class="d-flex msg-overlay">
		<div class="container-fluid d-flex justify-content-center align-items-center">
			<div class="row">
				<div id="notification" class="col-md-12 text-light animated fadeOut heartBeat infinite d-none"><h1></h1>	
			</div>	
		</div>
	</div>
	</div>