<!-- Title screen -->
<div class="modal" id="title-screen" tabindex="-1" role="dialog" aria-labelledby="titleScreen" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark  text-light text-center">
      <div class="modal-body">
				<div class="container h-100">
					<div class="row align-items-bottom h-100">
						<div class="col-8 mx-auto">
							<img src="./limulus-white-animated.svg"  id="animated-limulus" alt="Play Limulus">
							<h1>Limulus</h1>
							<p class="m-3 pt-3 lead">Horseshoe crabs (or limulus) have developed an efficient immune system. Their copper blue blood is harvested because it contains a very sensitive compound to detect bacterial contamination. They are also called living fossils has they have been around for 450 millions of year. Incidentally they've been helping to save millions of human lifes. That make them valuable in several ways, a gallon of their blood acutally cost $60k per gallon..</p>
							<button type="button" id="game-start" class="btn btn-light btn-lg" data-dismiss="modal">Play !</button>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>
<!-- Titles screen -->
