<div class="ui-overlay">
	<div class="container-fluid d-flex justify-content-end">
		<div class="row"> 
			<div class="col-md-12 text-light bg-dark p-4">
				<h3 class="text-center">High Scores</h3>
					<%= link_to "Edit results", scores_path, :class => 'btn btn-link btn-xs small text-danger' %>
					<%= render 'scores/table' %>
			</div>
		</div>
	</div>
</div>

<div id="game-canvas" class="void particle-js" width="1024px" height="768px">
-</div>
  <script type="text/javascript">
    particlesJS.load('game-canvas', '/particlesjs-config.json', function() {
    console.log('callback - particles.js config loaded');
 });
  </script>
