<div class="ui-table-score-wrapper p-4">
<table id="hallmark" class="table table-sm small">
  <thead>
    <tr>
		  <th>#</th>
      <th>Name</th>
      <th>Score</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
		<% @count = 0 %>
    <% @scores.limit(5).each do |score| %>
      <tr>
      <th scope="row"><%= @count += 1 %></th>
				<td><%= score.name %></td>
        <td><%= score.mark %></td>
        <td><%= score.date.strftime("%Y/%m/%d") %></td>
      </tr>
    <% end %>
  </tbody>
	</table>
	</div>